body, html {
    margin: 0;
}

/*------------------------------
  NEW DESIGN FOR "HABLA"
------------------------------*/

.mky-chat-inner-timeline, .mky-chat-inner-input{
  max-width: 890px;
  margin: 0 auto;
}